.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: YG77;
    color: #fff;
    background: #132f16;
    box-sizing: border-box;
}

.title{
    flex: 1 1 auto;
    text-align: center;
}

.contents{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
}

.footer{
    display: flex;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
}

.closeButton{
    width: 50px;
    height: 50px;
    background: url(../ui/common/images/close.svg) no-repeat center/18px;
}

.footerButton{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 45px;
    border-radius: 2px;
    font-size: 15px;
    font-family: YG77;
}

.cancelButton{
    background: #999896;
}


.confirmButton{
    margin-left: 6px;
    background: #556e5b;
    border-left: 1px solid #dadada;
}


.request{
    width: 100%;
    position: relative;
    /*height: 122px;*/
}


.request :global input{
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
}

.request :global button{
    padding: 14px 20px;
    margin: 10px auto;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    background: #ef9796;
    display: block;
}

.request :global div:last-child{
    /*border-top: 0;*/
}


.layout{
    width: 100%;
    position: relative;
    height: 122px;
}

.holder{
    background: #f3f3f3;
}

.card{
    position: absolute;
    overflow: hidden;
}

.front{
    width: 100%;
    background: #f3f3f3;
}

.back{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 22px;
    background: url(../images/okcashbag/okcard_logo.svg) no-repeat right top/140px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 10px -3px rgba(168,168,168,1);
    box-shadow: 0px 0px 10px -3px rgba(168,168,168,1);
}

.barcode{
    width: 100%;
    height: 30px;
    margin-bottom: 4px;
    background: url(../images/okcashbag/okcard_barcode.svg) no-repeat center/200px;
}

.setting{
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 20px;
    height: 20px;
    background: url(../images/common/setting.svg) no-repeat center/20px;
}

.cardnumber, .password{
    padding: 10px;
    border: 1px solid #e5e5e5;
}


.submit{
    overflow: hidden;
}

.loading{
    width: 90%;
    margin: 0 auto;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #556e5b;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 1px solid #dadada;
}

.preloader{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.result{
    width: 90%;
    margin: 0 auto;
    color: #666;
    font-size: 3.5vw;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
}

.result :global div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding: 12px 0;
    justify-content: space-between;
}

.result :global div:last-child{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #e5e5e5;
}

.result :global .remain div {
    width: 45%
}

.result :global span{
    align-self: center;
    padding: 0 2px;
    display: inline-block;
}


.result :global span:first-child{
    text-align: center;
}

.result :global span:last-child{
    text-align: right;
    flex: 1;
}

.result :global input{
    color: #ef9796;
    text-align: right;
    font-size: 16px;
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 2px 6px;
    width: 80px;
}


.error{
    width: 90%;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}


.error :global .image{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 10px;
    background: url(../images/common/warnning.svg) no-repeat center/30px;
}


.error :global .message{
    color: #666;
    border-bottom: 1px solid #dadada;
    margin-top: 5px;
    padding-bottom: 10px;
}

.terms{
    color: #999;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
}

.terms :global li{
    line-height: 20px;
    position: relative;
}
.terms :global li:first-child{
    color: #181818;
}
.terms :global li:before{
    content:'';
    width: 3px;
    height: 3px;
    border-radius: 2px;
    top: 10px;
    left: -6px;
    position: absolute;
    background: #556e5b;
}

.terms :global a{
    color: #556e5b;
}

.use{
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 2px 6px;
    color: #666;
    font-size: 11px;
    font-weight: normal;
}

.use:hover{
    color: #666;
}









