.container{
    width: 100%;
    display: flex;
    padding: 4px;
    overflow: hidden;
}

.header{
    width: 25px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 5px;
}


.body{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    flex: 1 1 auto;
}

.top{
    display: flex;
    padding: 4px;
    flex: 1 1 auto;
    cursor: pointer;
}


.left{
    width: 70px;
    flex: 0 0 auto;
    color: #ef9797;
    fill:#ef9797;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    color: #999;
    padding: 4px;
}

.explain{
    font-size: 13px;
    font-weight: bold;
    color:#333;
}

.name{
    font-size: 20px;
}

.label{
    font-size: 12px;
}

.terms{
    font-size: 11px;
    line-height: 1;
    padding: 2px 0;
}

.period{
    font-size: 11px;
    margin-bottom: 4px;
}

.free{
    display: block;
    width: 70px;
    height: 20px;
    font-size: 0;
    background-color: #ef9797;
    background-repeat: no-repeat;
    -webkit-mask: url(../ui/common/images/freedelivery.svg) no-repeat 4px 2px/ 70px;
    mask: url(../ui/common/images/freedelivery.svg) no-repeat 4px 2px/ 70px;
}


.disabledBorder{
    border: 1px dashed #ebebeb;
}

.disabledBg{
    background-color: #999;
}

.disabledColor{
    color:#999;
}

.radio{
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
    border-radius: 11px;
    cursor: pointer;
}


.radio:after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ebebeb;
    transform: translate(-50%, -50%);
}

.radio input{
    display: none;
}

.hide{
    display: none;
}

.selected:after{
    background: #ef9796;
}



/*.wrapper :global label.on:before{
    background-position: 0 -22px;
}

.wrapper :global .border{
    border: 1px solid #ccc;
    padding: 4px 4px;
    text-align: right;
}

.wrapper :global .border.off{
    background: #fff;
    border: 1px dashed #ebebeb;
}*/


/*
.wrapper :global .border.on .left .holder{
    color: #ef9797;
}

.wrapper :global .border.on .right .holder{
    color: #333;
}

.wrapper :global .border.off .left .holder,
.wrapper :global .border.off .right .holder,
.wrapper :global .border.off .bottom .holder{
    color: #999;
}

.skin{
    width: 100px;
    height: 60px;
    position: relative;
    white-space: nowrap;
}


.skin :global .left{
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}


.skin :global .name{
    font-size: 12px;
}

.skin :global em{
    display: inline-block;
    margin-top: -10px;
}

.skin :global .stick{
    height: 100%;
}
.skin :global .stick span{
    width: 3px;
    height: 100%;
    display: inline-block;
}

.skin :global .stick span:first-child{
    background-color: #786c60;
}

.skin :global .stick span:last-child{
    background-color: #a5a4a2;
}

.condition{
    width: 100%;
    position: relative;
    margin-left: 4px;
}

.condition :global .right{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    text-align: left;
}


.condition :global .title{
    font-size: 13px;
    font-weight: bold;
}


.condition :global .description{
    color: #999;
    font-size: 11px;
    line-height: 1;
    padding: 2px 0;
}


.condition :global .period{
    font-size: 11px;
    margin-bottom: 4px;
    color: #999;
}

.condition :global .approach{
    font-size: 11px;
    padding: 2px;
    color: #e2704b;
    border-radius: 2px;
    display: inline-block;
    border: 1px solid #e2704b;
}*/

