
.container{
    color: #555;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    padding-top: 0;
}

.pannel{
    border-top: 1px dashed #ebebeb;
    padding: 10px;
}

.arrowButton{
    padding: 2px 10px;
    color: rgb(102, 102, 102);
    font-size: 10px;
    border: 1px solid #dadada;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    /*flex: 0 0 auto;*/
}

.arrowButton::after{
    content: "";
    width: 0;
    height: 0;
    position: relative;
}

.arrowUp::after{
    left: 6px;
    top: 12px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #999;
}

.arrowDown::after{
    left: 6px;
    top: -10px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #999;
}


.title{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item{
    padding: 2px 0 2px 10px;
    font-size: 11px;
    overflow:hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    position: relative;
    color: #555;
}

.item::before{
    content:'';
    width: 2px;
    height: 2px;
    border-radius: 2px;
    display: block;
    top: 8px;
    left: 5px;
    position: absolute;
    background: #999;
}

.hide{
    display: none;
}

.active{
    color: #ef9796;
}