.container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: YG77;
    color: #fff;
    background: #ef9796;
    box-sizing: border-box;
}

.title{
    flex: 1 1 auto;
    text-align: center;
}

.contents{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
}

.footer{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
    border-top: 1px solid #dadada;
    box-sizing: border-box;
}

.closeButton{
    width: 50px;
    height: 50px;
    background: url(../ui/common/images/close.svg) no-repeat center/18px;
}

.footerButton{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: #fff;
    border-radius: 2px;
    font-size: 15px;
    font-family: YG77;
}

.cancelButton{
    color: #919191;
}


.confirmButton{
    color: #ef9796;
    border-left: 1px solid #dadada;
}
