.buttonContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button{
    flex: 1 1 auto;
    padding: 10px;
    color: #fff;
    font-family: YG77;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
}

.reservation{
    background: #132f16;
}

.cancel{
    background: #a9a9a9;
}

.order{
    background: #ef9797;
}

.gap{
    margin-left: 10px;
}

.hide{
    display: none;
}

.radioContainer{
    margin-top: 10px;
}

.radio{
    padding: 2px 0;
}

.radio :global input{
    width: 22px;
    height: 22px;
    border-radius: 11px;
    margin-right: 4px;
    border: 1px solid #d9d9d9;
    position: relative;
}

.radio :global input:checked{
    background: #fff;
}

.radio :global input::after{
    content: '';
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    position: absolute;
    background: #d9d9d9;
}

.radio :global input:checked::after{
    background: #ef9797;
}

.radio :global label{
    font-size: 12px;
    font-weight: bold;
}


.radio :global span{
    color: #ef9797;
    text-decoration: underline;
}



