.container{
    padding: 20px;
    text-align: center;
    color: #999;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.wrap{
    padding: 70px 0 0 0;
    position: relative;
    background: url(../ui/common/images/empty.png) no-repeat center 10px/50px;
}

.linkButton{
    margin: 0 auto;
    display: block;
    border: 1px solid #556d5d;
    color: #556d5d;
    width:130px;
    font-size: 15px;
    border-radius: 2px;
    margin-top:10px;
    padding: 12px;
}