.rootContainer{
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.first{
    border-top: none;
}

.left{
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.center{
    flex: 1;
    position: relative;
}

.right{
    padding: 8px 6px 8px 0;
}

.bottom{
    position: absolute;
    left: 120px;
    bottom: 8px;
}


.deleteButton{
    width: 26px;
    height: 26px;
    background: url(../ui/common/images/close.png) no-repeat 0 0/26px;
}

.labels{
    width: 70px;
    position: absolute;
    right: 6px;
    bottom: 8px;
}

.checkbox{
    width: 22px;
    height: 22px;
    background: url(../ui/common/images/checkbox.png) no-repeat 0 0/22px;
}

.checked{
    background-position: 0 -22px;
}

.hide{
    display:none;
}

.hashTagForIndividualDelivery{
    display: flex;
    justify-content: flex-end;
    padding:10px;
    font-size: 11px;
    color: #666;
    background: #fdf9f6
}