.container{
    top: 8px;
    left: 6px;
    position: absolute;
}

.cover{
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 80px;
    background-color: rgba(0,0,0,0.4);
}

.soldout{
    background: rgba(0,0,0,0.4) url(../ui/common/images/soldout.svg) no-repeat center/80%;
}
