.container{
    display: flex;
    border-radius: 2px;
    border: 1px solid #dadada;
}

.count{
    color: #546d5b;
    width: 40px;
    text-align: center;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.plusButton{
    width: 26px;
    height: 26px;
    background: url(../ui/common/images/plus.svg) no-repeat 7px 7px/16px;
}

.minusButton{
    width: 26px;
    height: 26px;
    background: url(../ui/common/images/minus.svg) no-repeat 7px 12px/16px;
}
