.container{
    background-color: #fff;
    overflow: hidden;
}


.controller{
    height: 40px;
    padding: 0 6px;
    font-size: 13px;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

.checkbox{
    width: 22px;
    height: 22px;
    background: url(../ui/common/images/checkbox.png) no-repeat 0 0/22px;
    flex: 0 0 auto;
}

.label{
    font-size: 12px;
    flex: 0 0 auto;
    margin-left: 6px;
    color: #555;
    flex: 1 1 auto;
}

.checked{
    background-position: 0 -22px;
}

.deleteButton{
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 2px;
    color: #666;
    border: 1px solid #d9d9d9;
}

.hide{
    display: none;
}
