.container{
    display: flex;
    flex-wrap: wrap;
}


.label{
    flex: 0 0 auto;
    margin-top: 2px;
    margin-left: auto;
    font-size: 10px;
    padding: 2px 3px;
    border-radius: 2px;
    border: 1px solid #ef9797;
    color: #ef9797;

}

.noReservation{
    color: #1c3f21;
    border-color: #1c3f21;
}

.onlyReservation{
    color: #3687b9;
    border-color: #3687b9;
}

.hide{
    display: none;
}
