.container{
    background: rgba(22, 58 ,114, 0.8);
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 10;
    padding: 4px 10px;
    width: 100%;
}

.prop{
    color: #fff;
    font-size: 10px;
}