.container{
    display: flex;
    flex-direction: column;
    background: #fff;
    min-height: 100%;
}


.wrapper{
    display: flex;
    /*height: 100%;*/
    flex-direction: column;
    flex: 1 1 auto;
    padding: 20px 16px;
}


.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: YG77;
    color: #fff;
    background: #1c3f21;
    box-sizing: border-box;
    padding-left: 40px;
}

.title{
    flex: 1 1 auto;
    text-align: center;
}


.figure{
    font-size: 12px;
    padding-bottom: 16px;
}


.figuretitle{
    font-weight: bold;
}

.figurecaption{
    margin-top: 4px;
    color: #acacac;
}


.contents{
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    box-sizing: border-box;
    border-top: 1px solid #dadada;
}

.footer{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 12px 10px 12px;
}

.closeButton{
    width: 50px;
    height: 50px;
    background: url(../ui/common/images/close.svg) no-repeat center/18px;
}

.footerButton{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-family: YG77;
    color: #fff;
}

.cancelButton{
    background: #999896;
}


.confirmButton{
    margin-left: 6px;
    background: #556d5d;
}

.confirmImage{
    width: 100%;
    height: 130px;
    color: #546d5b;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    background: url(../images/common/circle_check.svg) no-repeat center 30px/60px;
}


.hide{
    display: none;
}


