.overstock{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
}

.overlap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 8px 6px 8px 70px;
}

.figuretitle{
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.figurecaption{
    font-size: 13px;
    color: #556d5d;
    margin-top: 4px;
}


.container{
    display: flex;
    padding: 8px 0;
}

.left{
    flex-shrink: 0;
    border: 1px solid #d9d9d9;
}

.right{
    padding: 0 6px;
}

.thumb{
    width: 60px;
    height: 60px;
}


.name{
   display: none;
}

.price{
    display: none;
}

.stock{
    font-size: 12px;
    color: #666;
}

.emphasis{
    display: inline-block;
    font-weight: bold;
    color: #5a6a5f;
}

.count{
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #7d7d7d;
}

.count :global em{
    font-size: 14px;
}

.separate{
    padding: 0 4px;
}


.separate::before{
    content: '';
    position: absolute;
    bottom: 3px;
    width: 1px;
    height: 8px;
    background: #7d7d7d;
}

