.container{
    margin-top: 10px;
    background: #f3f3f3;
}

.wrapper{
    font-size: 1.2em;
    background: #fff;
    
    padding: 10px;
    border: 1px solid #132f16;
    color: #000;
}

.row{
    overflow: hidden;
    line-height: 37px;
    padding: 6px 10px;
}

.left{
    float: left;
}

.right{
    float: right;
    color: #555;
    text-align: right;
}

.mileage{
    display: block;
    line-height: 0;
    text-align: right;
    font-size: 10px;
    color: #999;
}

.orange{
    color: #e06f49;
    font-size: 23px;
}


