.container{
    background: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    color: #555;
}

.left{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.right{
    flex: 0 0 auto;
    margin-top: 2px;
    margin-right: 2px;
}

.tip{
    margin-left: 4px;
    font-size: 10px;
    color: #999;
    vertical-align: middle;
}

.hide{
    display: none;
}

.arrowButton{
    padding:8px;
    vertical-align: baseline;
    display:inline-block;
    background-size:cover;
    background: url(../ui/common/images/btn_toggle_arrow.png) no-repeat center 0/16px;
}

.arrowDown{
    background-position-y:0px;
}

.arrowUp{
    background-position-y:-16px;
}

