.container{
    padding-top: 10px;
    border-top: 1px solid #ebebeb;
    background: #fff;
    box-sizing: border-box;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    font-size: 12px;
    color: #555;
    position: relative;
    height: 24px;
    box-sizing: border-box;
}

.total{
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
    font-size: 14px;
    height: auto;
    border-top: 1px dashed #bebebe;
}


.left{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.right{
    flex: 0 0 auto;
    margin-right: 2px;
}


.subject{
    margin-left: 4px;
    display: flex;
    align-items: center;
}


.couponButton{
    color: rgb(102, 102, 102);
    font-size: 10px;
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 3px 17px;
}

.couponButton::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #999;
    left: 6px;
    top: 11px;
    position: relative;
}

.pointButton{
    margin-left: 2px;
    font-size: 9px;
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 3px;
    color: #666;
}

.cashbagButton{
    margin-left: 2px;
    font-size: 9px;
    border: 1px solid #dadada;
    border-radius: 2px;
    padding: 3px;
    color: #666;
}

.checkbox{
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: top;
    background: url(../ui/common/images/checked.png) no-repeat center 0/12px;
}

.checked{
   background-position-y: -12px;
}

.inputBox{
    max-width: 71px;
    height: 18px;
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0 1px;
    color: #555;
}

.input{
    width: 100%;
    height: 80%;
    text-align: right;
    color: inherit;
    vertical-align: baseline;
    background: transparent;
    padding: 0px 2px 1px 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
}

.green{
    color: #2c4a20;
}

.orange{
    color: #e0704a;
}

.disabled{
    display: none;
}

.disabled::after{
    border-top: 6px solid #ddd;
}

.unit{
    width: 10px;
    margin-left: 2px;
    display: inline-block;
    text-align: left;
}
