.container{margin-top: 1vw; font-size: 3vw; }
.terms_wrap{background: #fff; }

.title{ position: relative; padding: 4vw 4vw; text-align: left;font-size: 3.5vw;  border-width:1px 1px 0 1px ; border-style: solid ; border-color:#d9d9d9;  }
.title::after{transition: all .5s; content: ''; width: 6vw; height: 6vw; position: absolute; right: 5vw; display: block; background: url(../ui/common/images/ic_clamp.svg) no-repeat ; background-position: center; background-size: contain; top: 50%; transform: translateY(-50%)
}
.title:global.open::after {transform: translateY(-50%) rotate(180deg);}
.title:global.close::after {transform: translateY(-50%) rotate(0);}

/*:global .terms_header::after{content: ''; display: block; background:  url(../ui/common/images/ic_clamp.svg) no-repeat center 0/16px; }*/
.adult_terms_description{overflow: hidden; font-size: 3vw; border: 1px solid #d9d9d9; border-top:none;}
.adult_terms_description > div { padding:4vw;border-top: 1px dashed #d9d9d9; }
.adult_terms_description > div table { margin-top: 2vw }
.adult_terms_description > div  tr{ border: 1px solid #d9d9d9 }
.adult_terms_description > div  th{ border: 1px solid #d9d9d9; font-size: 3vw ;    width: 35%;
    padding: 2vw 3vw;font-weight: bold}
.adult_terms_description > div  td{border:1px solid #d9d9d9; border-top: 1px solid #d9d9d9; padding: 2vw }
.adult_terms_description p {margin-top: 2vw}
.adult_terms_description p:nth-child(1) {margin-top:0}

.adult_terms_agree {text-align: center; font-size: 3.5vw;padding:3vw;background: #d9d9d9}

